{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "react" // todo make this optional
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"] 
}